<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>

<footer id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <a href='/'>t_c</a>&nbsp;
    <a href='/static_pages/about'>about</a>&nbsp;
    <a href='/static_pages/legal'>legal</a>
</footer>

