<div id="container">
	<%= javascript_include_tag 'application.js' %>
</div>

<footer id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <a href='/static_pages/about'>about</a>&nbsp;
    <a href='/static_pages/contact'>contact</a>&nbsp;
    <a href='/static_pages/legal'>legal</a>&nbsp;
</footer>

